* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*navbar styling*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: black;
  background-color: grey;
}

.nav-links a {
  color: black;
}

/*logo style*/
.logo {
  font-size: 32px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: cadetblue;
  border-radius: 5px;
  transition: 0.3s ease;
}

/*dropdown menu (if needed)*/

/*responsive styling for menu*/

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/*responsive design using css media queries*/

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: gray;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: cadetblue;
  }
}
